@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    height: 100vh;
    overflow: hidden;

    background: -webkit-linear-gradient(to right, hsla(220, 52%, 70%, 0.863), hsla(274, 45%, 71%, 0.808)), url(images/Tambo-portada.jpg);
    background: linear-gradient(to right, #8ca6dbd0, #b993d6bd), url(images/Tambo-portada.jpg); 
    background-attachment: absolute;
    position: relative;
    background-size: cover;
}

.textos-header
{
    margin-top: 10px;
    text-align: center;
}
.textos-header h2
{
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #fff;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background: white;
    border-radius: 20px;

    display: flex;
    flex-direction: column-reverse;
    
    align-items: center; /* -> center <- */
    justify-content: flex-end;
    text-align: center;
}

.container h2{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.container form{
    padding: 0 40px;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
}

input[type="submit"]{
    margin: 30px 0;
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}