
{% extends "base.html" %}

{% block body %}
<div class="container">
    <table>
        <tr>
            <th>DNI</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Fecha añadido</th>
        </tr>
    
        {% for user in users %}
            <tr>
                <th>{{user.dni_admin}}</th>
                <th>{{user.apellidos}}</th>
                <th>{{user.nombres}}</th>
                <th>{{user.correo}}</th>
                <th>{{user.fecha_anadido}}</th>
            </tr>
        {% endfor %}
    </table>
</div> 

{% endblock body %}