{% extends "base.html" %}

{% block head %}
<link rel = "stylesheet" href = "{{ url_for('static', filename = 'emplytasks.css') }}">
{% endblock head %}




{% block body %}

<section class="textos-header">
    <h2>Lista de tareas</h2>
</section>

<div class="container">

    {% for tarea in tareas %}
    <form method ="post">
        <div class="details">
            <h2> {{tarea.titulo}} </h2> 
            <p> {{tarea.descripcion}} </p>
        </div>
        <div class="Tarea1">
            <input type="checkbox" name="tarea1">Tarea 1<br>
        </div>
        <input type="submit" value="Check Out">
    </form>
    {% endfor %}

</div>

{% endblock body %}