{% extends "base.html" %}


{% block head %}

    <!--ENLACES CSS-->
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/estilos.css') }}">
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/home.css') }}">
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/responsive.css') }}">

    <!--Box Icons-->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
{% endblock head %}


{% block body %}

<header class="header" id="inicio">
    <!--Transición-->
    <img src="{{url_for('static',filename = 'css/images/wave.png')}}" alt="" class="wave">

    <!--Textos e imágenes Header-->
    <div class="container">
        <section class="textos-header">
            <h1>Sistema de administración de empleados y tareas</h1>
            <img src="{{url_for('static',filename = 'css/images/Tambo-logo.png')}}" alt="" class="logo">
            <h2>Cada vez más cerca</h2>
        </section>
    
        <div class="botones">
            <a href="{{url_for('login')}}">
                <button class="button-19" role="button">Iniciar Sesión</button>
            </a>
            <a href="{{url_for('register')}}">
                <button class="button-18" role="button">Regístrate</button>
            </a> 
        </div>
    </div>
    
</header>

<script src="static/js/register.js"></script>

{% endblock body %}




