{% extends "base.html" %}

{% block head %}
<link rel = "stylesheet" href = "{{ url_for('static', filename = 'login.css') }}">
{% endblock head %}

{% block body %}

<div class="container">
    <form id = 'form' action='/login/user_added' method="POST">
        <p>Username:</p>
        <input id = 'username' type="text" name="username"/>
        <p>Email:</p>
        <input id = 'email' type="text" name="email"/>
    
        <input type="submit" value="insert" />
    </form>    
</div>


<table>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Email</th>
        <th>Date added</th>
    </tr>
    <!-- Jinja2 -->
    {% for user in users %}
        <tr>
            <th>{{user.id}}</th>
            <th>{{user.username}}</th>
            <th>{{user.email}}</th>
            <th>{{user.date_added}}</th>
        </tr>
    {% endfor %}
    <tr>
        <th></th>
        <th id = 'usernames'></th>
        <th id = 'emails'></th>
        <th></th>
    </tr>
</table>

<script>
    const username_input = document.getElementById('username')
    const email_input = document.getElementById('email')

    document.getElementById('form').onsubmit = function(e) {
        e.preventDefault(); // prevent something go wrong by sending data to the form
        const username = username_input.value;
        const email = email_input.value;

        fetch('/login/user_added',{
            method: 'POST',
            body: JSON.stringify({'username': username, 'email': email}),
            headers: {'Content-Type': 'application/json'}
        }). then(response => response.json()
        ).then(function(jsonResponse) {
            console.log("jsonResponse: ", jsonResponse);

            const usnm = document.createElement('usnm');
            const eml = document.createElement('eml');

            usnm.innerHTML = jsonResponse['username'];
            eml.innerHTML = jsonResponse['email'];

            document.getElementById('usernames').appendChild(usnm);
            document.getElementById('emails').appendChild(eml);
        });
    }

</script>

{% endblock body %}