{% extends "base.html" %}

{% block head %}
<link rel = "stylesheet" href = "{{ url_for('static', filename = 'login.css') }}">
{% endblock head %}


{% block body %}

<div class="center">
    <h1>Login</h1>
    <form id="form" action="/login/log_user"  method="get">
        <div class="txt_field">
            <input id="dni_admin" type="text" required>
            <span></span>
            <label>DNI del Administrador</label>
        </div>
        <div class="txt_field">
            <input id="password" type="password" required>
            <span></span>
            <label>Constraseña</label>
        </div>
        <input type="submit" value="Inicia Sesión">
    </form>
</div>

<script src="static/login.js"></script>

{% endblock body %}