{% extends "base.html" %}

{% block head %}
<link rel = "stylesheet" href = "{{ url_for('static', filename = 'register.css') }}">
{% endblock head %}

{% block body %}
<div class="container">
    <div class="title">Registro</div>
    <form id = 'form' action='/register/user_added' method="POST">
        <div class="user_details">

            <div class="input_box">
                <span class="details">Nombre completo:</span>
                <input id = 'fullname' type="text" name="fullname" placeholder="Nombre completo" required/>
            </div>

            <div class="input_box">
                <span class="details">Nombre de usuario:</span>
                <input id = 'username' type="text" name="username" placeholder="Nombre de usuario" required/>
            </div>

            <div class="input_box">
                <span class="details">Números de celular:</span>
                <input id = 'phone' type="text" name="phone" placeholder="Número de celular" required/>
            </div>

            <div class="input_box">
                <span class="details">Correo electrónico:</span>
                <input id = 'email' type="text" name="email" placeholder="Correo electrónico" required/>
            </div>

            <div class="input_box">
                <span class="details">Contraseña:</span>
                <input id = 'password' type="password" name="password" placeholder="Contraseña" required/>
            </div>

            <div class="input_box">
                <span class="details">Confirmar contraseña:</span>
                <input id = 'cpassword' type="password" name="cpassword" placeholder="Confirmar contraseña" required/>
            </div>

        </div>
        <div class="button">
            <input type="submit" value="Regístrate" />
        </div>
    </form>
    <!-- Error alert button -->
    <div id="error" class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        ¡Algo salio mal! Vuelve a intentarlo.
    </div>

    <!-- Welcome button -->
    <div id="welcome" class="ad">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        ¡Bienvenid@! <a id="name"></a>.
    </div>

    <!-- Password button -->
    <div id="changepassword" class="changepassword">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        ¡Confirme tu contraseña correctamente!
    </div>
</div>

<script src="static/index.js"></script>
{% endblock body %}