{% extends "base.html" %}

{% block head %}
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/register.css') }}">
    <!--Box Icons-->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    
{% endblock head %}

{% block body %}
<div class="container">
    <div class="title">Registro Administrador</div>
    <form id = 'form' action='/register/register_admin' method="post">
        <div class="user_details">

            <div class="input_box">
                <span class="details">DNI:</span>
                <input id = 'dni_admin' type="text" name="dni_admin" placeholder="DNI" required/>
            </div>

            <div class="input_box">
                <span class="details">Nombres:</span>
                <input id = 'nombres' type="text" name="nombres" placeholder="Nombres" required/>
            </div>

            <div class="input_box">
                <span class="details">Apellidos:</span>
                <input id = 'apellidos' type="text" name="apellidos" placeholder="Apellidos" required/>
            </div>

            <div class="input_box">
                <span class="details">Correo electrónico:</span>
                <input id = 'correo' type="text" name="correo" placeholder="Correo electrónico" required/>
            </div>

            <div class="input_box">
                <span class="details">Contraseña:</span>
                <input id = 'password' type="password" name="password" placeholder="Contraseña" required/>
            </div>

            <div class="input_box">
                <span class="details">Confirmar contraseña:</span>
                <input id = 'confirm_password' type="password" name="confirm_password" placeholder="Confirmar contraseña" required/>
            </div>

        </div>
        <div class="button">
            <input type="submit" value="Regístrate" />
        </div>
    </form>
    <!-- Error alert button -->
    <div id="error" class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        ¡Algo salió mal! Vuelve a intentarlo.
    </div>

    <!-- Welcome button -->
    <div id="welcome" class="ad">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        ¡Bienvenid@! <a id="name"></a>.
    </div>

    <!-- Password button -->
    <div id="changepassword" class="changepassword">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        ¡Confirme tu contraseña correctamente!
    </div>
</div>

<script src="static/js/register.js"></script>

{% endblock body %}