{% extends "base.html" %}

{% block head %}
<link rel = "stylesheet" href = "{{ url_for('static', filename = 'tareas.css') }}">
{% endblock head %}


{% block body %}

<section class="textos-header">
    <h2>Lista de tareas</h2>
</section>

<div class="container">

    {% for tarea in tareas %}
    <div class="box">
        <div class="details">
            <h2>Tarea: {{tarea.titulo}}</h2> 
            <p>Descripción: {{tarea.descripcion}}</p>
        </div>
        <input type="checkbox" name="">
        <input type="submit" value="Eliminar">
    </div>
    {% endfor %}

</div>

{% endblock body %}