{% extends "base.html" %}

{% block head %}
<link rel = "stylesheet" href = "{{ url_for('static', filename = 'tareas.css') }}">
{% endblock head %}


{% block body %}

<section class="textos-header">
    <h2>Lista de tareas pendientes</h2>
</section>

<div class="container">

    {% for tarea in tareas %}
        {% if tarea.completo == false %}
            <div class="box" id="{{tarea.id_tarea}}">
                <div class="details">
                    <h2>Tarea: {{tarea.titulo}}</h2> 
                    <p>Descripción: {{tarea.descripcion}}</p>
                    <p>{{tarea.empleado}}</p>
                </div>
                <input id="{{tarea.id_tarea}}" class="completo" type="checkbox" autocomplete="off"/>
            </div>
        {% endif %}
    {% endfor %}

</div>

<script src="static/tareas.js"></script>

{% endblock body %}