
{% extends "base.html" %}

{% block body %}
<div class="container">
    <table>
        <tr>
            <th>Id</th>
            <th>Full name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Password</th>
            <th>Date added</th>
        </tr>
    
        {% for user in users %}
            <tr>
                <th>{{user.id}}</th>
                <th>{{user.full_name}}</th>
                <th>{{user.username}}</th>
                <th>{{user.email}}</th>
                <th>{{user.mobile_phone}}</th>
                <th>{{user.password}}</th>
                <th>{{user.date_added}}</th>
            </tr>
        {% endfor %}
    </table>
</div> 

{% endblock body %}